* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  font-weight: bold;
  background-color: lime;
  justify-content: center;
  align-items: center;
}

#game-area {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#deck,
#discard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 3 / 4;
  border: 5px solid gray;
  border-radius: 10px;
}

#com-hand-one,
#com-hand-two,
#com-hand-three,
#player-hand {
  position: absolute;
  display: flex;
  border-radius: 50%;
  transition: box-shadow 1s;
}

#com-hand-one,
#com-hand-three {
  margin: auto 0;
}

#com-hand-two,
#player-hand {
  margin: 0 auto;
}

.card-container {
  position: absolute;
  aspect-ratio: 3 / 4;
  border-radius: 10px;
  perspective: 1000px;
  flex-shrink: 0;
  transition: all 0.75s;
}

@media (orientation: landscape) {
  #deck,
  #discard {
    height: calc(21vh + 10px);
  }

  .card-container {
    height: 21vh;
  }
}

@media (orientation: portrait) {
  #deck,
  #discard {
    width: calc(14vw + 10px);
  }
  .card-container {
    width: 14vw;
  }
}

div.player > .card-container:hover {
  cursor: pointer;
  bottom: 2vh;
}

.card {
  border-radius: 10px;
  position: relative;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
  transition: all 0.75s;
  transform-style: preserve-3d;
}

#front,
#back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: inset 0 0 5px black;
  backface-visibility: hidden;
}

#front {
  background-size: cover;
}

#back {
  background-size: cover;
  transform: rotateY(180deg);
}

#notification {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  color: rgba(255, 255, 255, 0.75);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vw;
  z-index: 100;
  gap: 5vh;
}

#notification.notification {
  gap: 25vh;
}

#results {
  align-self: flex-start;
}

.options-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw;
  z-index: 100;
  padding: 0 3vw;
}

.game-select {
  position: relative;
  display: inline-block;
}

.hover-select {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.75);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vw;
  border: none;
}

.hover-select:hover {
  cursor: auto;
}

.game-select-content,
.num-select-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 25vh;
  width: 100%;
  overflow-y: auto;
  border-radius: 2vh;
}

.num-select-content {
  width: 100%;
  text-align: center;
}

.game-select:hover .game-select-content,
.game-select:hover .num-select-content {
  display: block;
}

.launch-button {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.75);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vw;
  border: none;
}

#♠♦♣♥ {
  display: flex;
  justify-content: center;
  gap: 10vw;
  width: 100%;
}

.♠,
.♦,
.♥,
.♣ {
  font-size: 10vw;
  transition: all 0.5s ease-in-out;
}

.♠:hover,
.♦:hover,
.♥:hover,
.♣:hover,
.play-again:hover,
.main-menu:hover,
.game-select-content div:hover,
.num-select-content div:hover,
.launch-button:hover,
#back-to-main:hover,
#continuer:hover {
  cursor: pointer;
  color: white;
}

#back-to-main {
  position: absolute;
  color: rgba(255, 255, 255, 0.75);
  top: 0;
  left: 0;
  padding: 1vh;
  font-size: 2vw;
}

#game-area {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#continuer {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3vh;
}
